[Bot]
token = your_token
stop_delay_minutes = 5
session_name = mcbot

[Server]
address = your_ip:your_port
dir = path_to_your_run.sh

[Users]
# Comma separated Discord user IDs
# admin_ids adds to allowed_users
admin_ids = 123456789
allowed_user_ids = 123456789, 123456788